h1{
    color:brown;
}
*{
    border:solid;
}
.header{
    background-color: rgb(158, 243, 232);
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}